<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script src="js/script.js"></script>
</head>
<div  id="content-top"  ng-controller='homeCtrl'>	
	<div class="conteudo">
	<center><h4>BUDISMO DE NITIREN DAISHONIN</h4></center>


	<div >
		<div >
			<img src="images/lotus.jpg" class="img-fluid" style="width: 100%;height: auto;"/>
		</div>
	</div>
	<div>

	<br>
	<center><h4>Nitiren Daishonin</h4></center>
	<p align="justify">
		"Se acender a chama visando beneficiar outras pessoas, além de iluminá-las, irá iluminar a si mesmo".
	</p>
	<center><h4>BSGI</h4></center>
	<p align="justify">

			O claro clamor aos jovens é para que se realize uma verdadeira revolução – a revolução interior – uma revolução na qual todos participem, que se faça dentro da paz e que mude o próprio indivíduo.
		</p>
		<p align="center">
			(Daisaku Ikeda)
		</p>
		<center><h4>Filosofia (BSGI)</h4></center>
		<p align="justify">
			"Diferentes civilizações têm cultivado diversos tipos de sabedoria.
			Agora é hora de reunir essas sabedorias em prol de uma resolução dos problemas comuns unindo o mundo todo.
			A única maneira de fazer isso é criar ampla solidariedade transcendendo as diferenças étnicas, religiosas e ideológicas.
			A filosofia humanística do Budismo de Nichiren Daishonin propõe um modo de vida que supera obsessões com as diferenças e tem como objetivo promover a paz e a felicidade para a sociedade como um todo."
		</p>
		<p align="center">(Daisaku Ikeda)</p>
		<center><h4>Missão (BSGI)</h4></center>
		<p align="justify">
			Contribuir para a construção de uma sociedade pacífica baseada no Humanismo, por meio da promoção de ações conscientes que desenvolvam o potencial inerente de todo ser humano.
		</p>
		<br>
	</div>
</div>

</div>
